<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale="1"/>
    <title>{{ server_title }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="144x144" href="/static/favicon.png"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/dropzone/5.2.0/min/dropzone.min.css" type="text/css">
    <style>
        .dropzone {
            border: 2px dashed #0087F7;
            margin: 10%;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <a class="navbar-brand" href="/" target="_top">{{ server_title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<div class="container mt-4">
    <br/>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="alert alert-primary" id="page-info">
        已用空间：{{ sum_size }}&emsp;&emsp;
        当前路径：{{ "/" + folder }}&emsp;&emsp;
        <a href="/?path={{ "/".join(folder.split("/")[:-2]) + "/" }}">返回上级目录</a>&emsp;&emsp;
        <a href="/?path=">返回根目录</a>&emsp;&emsp;
    </div>

    <table class="table table-hover">
        <tr>
            <p></p>
        </tr>
        <tr>
            <a data-toggle="modal" data-target="#showUpload">
                <button class="btn btn-primary">
                    上传文件
                </button>
            </a>
            <a data-toggle="modal" data-target="#setFolder">
                <button class="btn btn-primary" title="新建文件夹到当前目录">新建文件夹</button>
            </a>
        </tr>
        <tr>
            <p></p>
        </tr>
        {% if files != [] %}
            <tr style="text-align: center;">
                <td><strong>文件名</strong></td>
                <td><strong>文件大小</strong></td>
                <td><strong title="下载文件夹时会打包为ZIP">下载文件</strong></td>
                <td><strong>删除文件</strong></td>
                <td><strong title="暂不允许修改文件的扩展名">重命名</strong></td>
            </tr>
            {% for i in files %}
                <tr style="text-align: center;" id="file">
                    <td style="max-width: 300px;" id="Filename">
                        {% if i.1 == "Folder" %}
                            <a href="?path={{ folder }}{{ i.0 }}">
                                {{ i.0 }}
                            </a>
                        {% else %}
                            {{ i.0 }}
                        {% endif %}
                    </td>
                    <td>
                        {{ i.2 }}
                    </td>
                    <td>
                        <a href="{{ url }}/download/
                                {{ folder }}{{ (i.0|replace(" % ", "%25 ")|replace("# ", "%23 ")) }}"
                           download="{{ i.0 }}{% if i.1 == "Folder" %}.zip{% endif %}" target="_blank">
                            <button class="btn btn-primary" type="submit" id="download">
                                下载
                            </button>
                        </a>
                    </td>
                    <td>
                        <form style="display: inline;" method="POST"
                              action="/delete/{{ i.0|replace('%', '%25')|replace('#', '%23') }}?path={{ folder }}">
                            <button class="btn btn-primary" type="submit" value="{{ i.0 }}" id="deleteFile">
                                删除
                            </button>
                        </form>
                    </td>
                    <td style="width: 250px;">
                        <form class="form-inline" method="POST"
                              action="/rename/{{ i.0|replace('%', '%25')|replace('#', '%23') }}?path={{ folder }}">
                            <input style="width: 150px;" type="text" name="new_name" id="new_name" class="form-control"
                                   placeholder="新文件名({{ i.1 }})" required>
                            <button class="btn btn-primary" type="submit" id="rename">
                                重命名
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <div style="text-align: center;">
                <h4><br/>无文件<br/></h4>
            </div>
        {% endif %}
    </table>
</div>
</body>

<div class="modal fade" id="setFolder">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">新建文件夹</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" id="serverinfo_of_newfolder">
                    当前路径：{{ "/" + folder }}
                </div>
                <form method="POST" action="/set-dir?path={{ folder }}" style="display: inline; text-align: center;">
                    <input style="display: inline; width: 85%;" type="text" name="new_folder_name" id="new_folder_name"
                           class="form-control" placeholder="请输入新文件夹名称" required>
                    <button style="display: inline;" class="btn btn-primary" type="submit" id="rename">新建文件夹</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="showUpload">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">上传文件</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">
                    {{ short_name }}禁止上传反动、暴力、色情及侵权等内容的文件，如触发监测系统，系统将有权删除该文件。
                </div>
                <div class="alert alert-info" id="serverinfo_of_upload">
                    当前路径：{{ "/" + folder }}
                </div>
                {{ dropzone.create(action="/upload?path=" + folder) }}
                <button type="button" class="btn btn-info btn-block"
                        style="color: white; background-color: rgb(0,123,255);" onclick="location.reload()">上传完成
                </button>
                <br/>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/js/dropzone5.2.0.js"></script>


</html>